<div class="container mt-5">
    <div class="row">
        <div class="col-12 border p-4 rounded-3 shadow-lg">
            <h3 class="mb-4 text-primary">Edit New User</h3>

            <%# Error Messages %>
            <% if @user.errors.any? %>
                <div class="alert alert-danger">
                <h5><%= pluralize(@user.errors.count, "error") %> prevented the save:</h5>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
                </div>
            <% end %>

            <form action="<%= user_update_path(@user) %>" method="post">
                <%# rails csrf token %>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="patch">
                <%# csrf_meta_tags %>


                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name" name="user[name]" value="<%= @user.name %>">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="user[email]" value="<%= @user.email %>">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="user[password]" value="<%= @user.password %>">
                </div>

                <div class="form-group">
                    <label for="exampleInputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password" name="user[confirm_pass]" value="<%= @user.confirm_pass %>">
                </div>

                 <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="inputStatus"
                            name="user[is_active]" value="1"
                            <%= @user.is_active ? "checked" : "" %>>
                    <label class="form-check-label" for="inputStatus">Active Status</label>
                </div>
             
                <button type="submit" class="btn btn-primary">Update</button>
                <%= link_to 'Back', user_index_path, class: "btn btn-secondary ms-2" %>
            </form>
        </div>
    </div>
</div>