<!DOCTYPE html>
<html>
  <head>
    <title>RailsBootstrapScaffold</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# compile the scss file using yarn build:css %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
  </head> 

  <body>

    
    <%= render "layouts/partials/navbar" %>

    <%= yield %>

    <%= render "layouts/partials/footer" %>
  </body>
</html>
