<table class="table is-bordered is-striped is-narrow is-fullwidth">
  <tr>
    <th>Id</th>
    <td><%= product.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <th>Sku</th>
    <td><%= product.sku %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= product.price %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= product.description %></td>
  </tr>
  <tr>
    <th>Image</th>
    <td><%= product.image %></td>
  </tr>
</table>
